@font-face {
  font-family: "roboto-reg";
  src: url(style/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "roboto-med";
  src: url(style/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "roboto-bold";
  src: url(style/fonts/Roboto-Bold.ttf);
}
* {
  font-family: roboto-reg;
  color: #2A2A2A;
}

p, h1, h2, h3, h4, h5 {
  font-family: roboto, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #FAFAFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1400px;
  overflow: hidden;
  box-sizing: border-box;
}

button {
  border: none;
  padding: 0;
  margin: 0;
}

.text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #FFF;
  padding: 17px 20px;
  width: 94%;
  max-width: 1200px;
  box-sizing: border-box;
}

nav {
  width: 100%;
  padding: 20px 5vw 15px 5vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
nav .logo-container {
  width: 50%;
}
nav .logo-container .logo {
  width: 100%;
  max-width: 270px;
  min-width: 200px;
}
nav .desktop-nav-container {
  width: 50%;
}
nav .desktop-nav-container ul {
  list-style: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}
nav .desktop-nav-container ul button {
  background-color: #FAFAFF;
  cursor: pointer;
}
nav .desktop-nav-container ul button p {
  display: inline-block;
  font-family: roboto-bold, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
  padding: 15px;
}
nav .desktop-nav-container ul button p:after {
  display: block;
  content: "";
  border-bottom: solid 4px #3333FF;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}
nav .desktop-nav-container ul button p:hover:after {
  transform: scaleX(1);
}
nav .desktop-nav-container ul button p.fromLeft:after {
  transform-origin: 0% 50%;
}
nav .mobile-nav-container {
  position: relative;
  display: none;
  width: 50px;
}
nav .mobile-nav-container ul {
  position: absolute;
  list-style: none;
  z-index: 4;
  top: -40px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}
nav .mobile-nav-container li {
  width: 40px;
  height: 5px;
  margin: 5px 10px;
  background-color: #2A2A2A;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, opacity 0.1s ease-in-out;
}
nav .mobile-nav-container li:nth-child(3) {
  width: 27px;
}
nav .mobile-nav-container .hamburger-menu-icon.menu-toggle-icon li:nth-of-type(1) {
  transform: translateY(15px) rotate(45deg);
}
nav .mobile-nav-container .hamburger-menu-icon.menu-toggle-icon li:nth-of-type(2) {
  opacity: 0;
}
nav .mobile-nav-container .hamburger-menu-icon.menu-toggle-icon li:nth-of-type(3) {
  transform: translateY(-14px) rotate(-45deg);
  width: 40px;
}
nav .mobile-nav-container .mobile-menu {
  position: absolute;
  z-index: 2;
  width: 300px;
  height: 360px;
  top: -400px;
  left: -170px;
  background-color: #FAFAFF;
  border-radius: 1px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(62, 62, 62, 0.1), 0 6px 20px 0 rgba(0, 0, 1, 0.01);
  opacity: 0;
}
nav .mobile-nav-container .mobile-menu ul {
  position: absolute;
  top: 50px;
  left: 10px;
  list-style: none;
  text-transform: uppercase;
}
nav .mobile-nav-container .mobile-menu ul li {
  margin: 25px 10px;
}
nav .mobile-nav-container .mobile-menu ul button {
  background-color: #FAFAFF;
}
nav .mobile-nav-container .mobile-menu ul button p {
  display: inline-block;
  font-family: roboto-bold, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
  padding: 15px;
}
nav .mobile-nav-container .mobile-menu ul button p:after {
  display: block;
  content: "";
  border-bottom: solid 4px #3333FF;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}
nav .mobile-nav-container .mobile-menu ul button p:hover:after {
  transform: scaleX(1);
}
nav .mobile-nav-container .mobile-menu ul button p.fromLeft:after {
  transform-origin: 0% 50%;
}
nav .mobile-nav-container .mobile-menu.menu-toggle-menu {
  display: flex;
  top: -63px;
  opacity: 1;
}

.divider {
  width: 94%;
  height: 0.4vh;
  background-color: #2A2A2A;
  margin: 0 30px;
  box-sizing: border-box;
}

.page-title {
  font-size: 28px;
  margin: 20px 0;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 94%;
  margin: 0px 7vw;
  padding: 15px;
  box-sizing: border-box;
  border-top: 0.4vh solid #E9E9EE;
}
footer .footer-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: npwrap;
  margin: 0px 30px;
}
footer .footer-details:nth-child(1) p {
  text-align: left;
}
footer .footer-details p {
  text-align: center;
  font-size: 14px;
}

.content-wrapper {
  width: 94%;
}

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  box-sizing: border-box;
}
.landing-page .banner-wrapper {
  width: 94%;
  height: 30vw;
  max-height: 320px;
  min-height: 220px;
  max-width: 1400px;
  margin: 0 7vw;
  margin-top: 30px;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
  margin-bottom: 30px;
  background: #3333FF;
}
.landing-page .banner-wrapper .banner-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200%;
  height: 100%;
  overflow: hidden;
}
.landing-page .banner-wrapper .banner-container .banner-img {
  position: absolute;
  height: 100%;
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.1s ease-in-out;
  font-size: 80px;
  color: red;
  text-align: center;
  justify-content: center;
}
.landing-page .banner-wrapper :nth-child(1) {
  transform: translateX(0%);
  transition: transform 1s ease-in-out;
}
.landing-page .banner-wrapper :nth-child(1) :nth-child(1) {
  left: 0px;
  background-image: url(images/banner/banner-1.png);
}
.landing-page .banner-wrapper :nth-child(1) :nth-child(2) {
  left: 0%;
  background-image: url(images/banner/banner-2.png);
}
.landing-page .banner-wrapper :nth-child(2) {
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
}
.landing-page .banner-wrapper :nth-child(2) :nth-child(1) {
  left: 0%;
  background-image: url(images/banner/banner-3.png);
}
.landing-page .banner-wrapper :nth-child(2) :nth-child(2) {
  left: 0%;
  background-image: url(images/banner/banner-2.png);
}
.landing-page .landing-page-text {
  margin-bottom: 30px;
}
.landing-page .landing-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 94%;
  max-width: 1400px;
  margin-bottom: 30px;
}
.landing-page .landing-gallery .gal-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 210px;
  height: 210px;
  margin: 3px 7px 3px 0;
  background-color: #3333FF;
  padding: 7px 7px 7px 10px;
  box-sizing: border-box;
  background-position: center center;
  background-size: cover;
}
.landing-page .landing-gallery .gal-img:nth-child(1) {
  background-image: url("images/gallery/home-gallery/go-cabling.png");
}
.landing-page .landing-gallery .gal-img:nth-child(2) {
  background-image: url("images/gallery/home-gallery/mobile-antenna.png");
}
.landing-page .landing-gallery .gal-img:nth-child(3) {
  background-image: url("images/gallery/home-gallery/solar-panels.png");
}
.landing-page .landing-gallery .gal-img:nth-child(4) {
  background-image: url("images/gallery/home-gallery/IMG_1708.jpg");
}
.landing-page .landing-gallery .gal-img:nth-child(5) {
  background-image: url("images/gallery/home-gallery/vms-system.png");
}
.landing-page .landing-gallery .gal-img p {
  background-color: #fff;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 4px;
  padding: 1px 4px;
  cursor: pointer;
}

.services-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.services-wrapper .services-nav-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.services-wrapper .services-nav-wrapper button {
  min-width: 180px;
  border: 1px solid #2A2A2A;
  margin: -0.5px -1px;
  background: #fff;
  padding: 7px 12px;
  flex-wrap: wrap;
  font-family: roboto-reg, Arial, Helvetica, sans-serif;
  font-size: 17px;
  transition: background-color 0.15s ease-in, color 0.15s ease-in;
}
.services-wrapper .services-nav-wrapper button:hover {
  background-color: #3333FF;
  color: #fff;
}
.services-wrapper .services-nav-wrapper button.active {
  background-color: #3333FF;
  color: #fff;
}
.services-wrapper .services-title {
  font-family: roboto-reg, Arial, Helvetica, sans-serif;
  font-size: 21px;
  margin-bottom: 40px;
}
.services-wrapper .text-block {
  margin-bottom: 40px;
}
.services-wrapper .services-gallery-block {
  width: 96%;
  max-width: 1400px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.services-wrapper .services-gallery-block .services-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 23%;
  min-width: 160px;
  aspect-ratio: 1/1;
  margin: 3px 7px 3px 0;
  background-color: #3333FF;
  box-sizing: border-box;
  background-position: center center;
  background-size: cover;
}
.services-wrapper .services-gallery-block .services-img:nth-child(1) {
  background-image: url("images/gallery/home-gallery/go-cabling.png");
}
.services-wrapper .services-gallery-block .services-img:nth-child(2) {
  background-image: url("images/gallery/home-gallery/mobile-antenna.png");
}
.services-wrapper .services-gallery-block .services-img:nth-child(3) {
  background-image: url("images/gallery/home-gallery/solar-panels.png");
}
.services-wrapper .services-gallery-block .services-img:nth-child(4) {
  background-image: url("images/gallery/home-gallery/IMG_1708.jpg");
}

.contact-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.contact-wrapper ul {
  list-style-type: none;
  font-family: roboto, Arial, Helvetica, sans-serif;
}
.contact-wrapper .main-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;
  padding: 5px;
  box-sizing: content-box;
}
.contact-wrapper .contact-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 46%;
  max-width: 400px;
  min-width: 367px;
  height: 400px;
  background: #fff;
  padding: 10px 0;
  margin: 10px;
  box-sizing: border-box;
}
.contact-wrapper .contact-block .contact-title {
  font-size: 24px;
}
.contact-wrapper .contact-block .address-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
}
.contact-wrapper .contact-block .address-block ul {
  margin-bottom: 10px;
  margin-top: 0;
}
.contact-wrapper .contact-block .address-block ul .list-title {
  font-size: 20px;
  margin-bottom: 4px;
}
.contact-wrapper .contact-block .address-block ul li {
  font-size: 16px;
  margin-bottom: 1px;
}
.contact-wrapper .contact-block .tel-email {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.contact-wrapper .map-block {
  max-width: 560px;
  padding: 0 !important;
}

.about-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  left: 0%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-wrapper .about-info-block {
  padding: 15px;
  border-radius: 1px;
  background: #fff;
  color: #000;
  font-family: robo-reg, Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.about-wrapper .about-gallery-block {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.about-wrapper .about-gallery-block .col {
  width: 33%;
  min-width: 257px;
  max-width: 370px;
  margin: 0 4px;
}
.about-wrapper .about-gallery-block .col .gal-item {
  width: 100%;
  margin: 8px 0px;
  background-color: #3333FF;
  border-radius: 1px;
}
.about-wrapper .about-gallery-block .col .gal-one {
  height: 20vw;
  min-height: 368px;
}
.about-wrapper .about-gallery-block .col .gal-two {
  height: 16vw;
  min-height: 259px;
}
.about-wrapper .about-gallery-block .col .gal-three {
  height: 16vw;
  min-height: 259px;
}
.about-wrapper .about-gallery-block .col .gal-four {
  height: 20vw;
  min-height: 368px;
}
.about-wrapper .about-gallery-block .col .gal-five {
  height: 20vw;
  min-height: 368px;
}
.about-wrapper .about-gallery-block .col .gal-six {
  height: 16vw;
  min-height: 259px;
}

@media screen and (max-width: 850px) {
  nav {
    padding: 3vw 4vw;
  }
  nav .desktop-nav-container {
    display: none;
  }
  nav .mobile-nav-container {
    display: flex;
  }
  .divider {
    height: 0.3vh;
  }
  .about-wrapper .about-gallery-block {
    flex-wrap: wrap;
  }
  .about-wrapper .about-gallery-block .col {
    width: 48%;
    min-width: 300px;
  }
}
@media screen and (max-width: 512px) {
  .landing-page .landing-gallery .gal-img {
    width: 160px;
    height: 150px;
    background-position: center center;
  }
  .landing-page .services-gallery-block .services-img {
    width: 160px;
    height: 150px;
    background-position: center center;
  }
  footer {
    flex-direction: column;
  }
  footer p {
    text-align: center !important;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=styles.css.map */